:root { 
--black_900_7f:#0b0b0b7f; 
--white_A700_7f:#ffffff7f; 
--light_green_A700:#2cef32; 
--deep_purple_400:#94669f; 
--blue_gray_800_72:#293e4872; 
--gray_800_01:#3f3f3f; 
--gray_900_19:#1d1d1d19; 
--gray_900_0c:#1018280c; 
--black_900_01:#000000; 
--light_green_A700_35:#2cef3235; 
--black_900_7f_01:#0708077f; 
--blue_gray_900:#2d2d2d; 
--black_900_03:#0b0b0b; 
--black_900_02:#00000002; 
--gray_700_33:#5f5f6233; 
--gray_50_7f:#fbfbfb7f; 
--gray_600:#858585; 
--gray_900_bf:#1f231fbf; 
--blue_gray_100:#cdd4e6; 
--blue_gray_300:#9ca3af; 
--gray_800:#454545; 
--green_A400_51:#25ff6f51; 
--black_900_0c:#0404040c; 
--white_A700:#ffffff; 
--gray_500_19:#a6a6a619; 
--light_green_A700_4f:#2cef324f; 
--blue_gray_100_01:#d4d4d4; 
--light_green_A700_4c:#2cef324c; 
--blue_gray_100_02:#d9d9d9; 
--black_900_0c_01:#0000000c; 
--blue_gray_100_03:#cccccc; 
--lime_500_28:#e3e72928; 
--black_900_1c:#0000001c; 
--gray_700_0a:#6060600a; 
--green_A400:#25ff6f; 
--deep_purple_400_01:#93669f; 
--amber_600_4c:#ffb7034c; 
--white_A700_cc:#ffffffcc; 
--black_900_66:#00000066; 
--black_900:#080808; 
--gray_500_01:#a3a3a3; 
--white_A700_38:#ffffff38; 
--blue_gray_900_66:#2c2c2c66; 
--green_A400_01:#00d47f; 
--gray_900_02:#171717; 
--gray_900_03:#151515; 
--amber_600_00:#ffb70300; 
--gray_900_04:#1b1b1b; 
--blue_gray_200:#becfcd; 
--gray_500:#a5a5a5; 
--gray_900_05:#121312; 
--blue_gray_400:#808f93; 
--gray_900_00:#12121200; 
--amber_600:#ffb703; 
--gray_900:#121212; 
--gray_900_01:#212121; 
--gray_800_33:#42424233; 
--gray_900_06:#1d1f1d; 
--gray_900_07:#141414; 
--gray_300:#e6e6e6; 
--gray_900_08:#222222; 
--gray_900_09:#111111; 
--white_A700_00:#ffffff00; 
--black_900_33:#00000033; 
}